[account]
auth_token = ""
user_agent = ""

[options]
save_location = "/path/to/save/content/to" # On windows replace any \ with / 
# If you have ffmpeg and want instances of it spawned to try to save higher quality
# videos, set this to true
m3u8_dl = false
vods_file_extension = ".mp4" # this is going to play a role in livestreams

[security_headers]
device_id = ""
session_id = ""
check_key = ""
last_updated = 2024-07-29T00:00:00Z
