[account]
auth_token = ""
user_agent = ""

[options]
save_location = "/path/to/save/content/to"
# If you have ffmpeg and want instances of it spawned to try to save higher quality
# videos, set this to true
m3u8_dl = false
vods_file_extension = ".mp4" # this is going to play a role in livestreams
