layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    } 
    pane split_direction="vertical" {
        //pane edit="./cmd/fansly-scraper/main.go"
        pane command="nvim" {
            args "./cmd/fansly-scraper/main.go"
        }
        pane command="go" {
            args "run" "main.go"
            start_suspended true
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
